main section {
  background: none;
}
[data-icon] {
  margin-right: 0;
}
header {
  position: inherit;
}
header.fixed {
  position: fixed;
}
html,
body {
  font-family: 'Roboto Condensed', 'sans-serif';
  font-size: 15px;
  font-weight: 400;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.2);
  -webkit-font-smoothing: antialiased;
}
h1,
h2 {
  font-family: 'Roboto Condensed', 'sans-serif';
  font-weight: 400;
}
h3,
h4,
h5 {
  font-family: 'Roboto Condensed', 'sans-serif';
  font-weight: 400;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 15.75px;
}
.topmargin {
  margin-top: 1em;
}
.bottommargin {
  margin-bottom: 1em;
}
h1 {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 5px 0.5em;
  padding-right: 2em;
  margin-left: -0.5em;
  margin-bottom: 0.5em;
  background: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5 {
  color: #986d32;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}
p {
  margin-bottom: 1em;
}
body {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  background: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
}
html {
  background-image: url('background.png');
}
a {
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
a:link {
  color: #654921;
}
a:hover {
  color: #986d32;
}
a:active {
  color: #b6833c;
}
a:visited {
  color: #4c3719;
}
a:focus {
  color: #e4a44b;
}
figure {
  overflow: hidden;
}
ul.nolist,
ol.nolist {
  list-style: none;
  margin-left: 0;
}
ul.list,
ol.list {
  margin-left: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 0.5em;
  list-style: dot;
}
.inside {
  max-width: 1100px;
  margin: 0 auto;
}
img,
image {
  width: 100%;
  margin: 0;
  padding: 0;
}
table {
  display: table;
}
table tbody {
  display: table-row-group;
}
table tbody tr {
  display: table-row;
}
table tbody tr td {
  display: table-cell;
}
form {
  width: 100%;
  display: block;
}
form div:last-child {
  text-align: center;
}
form label,
form input,
form textarea {
  width: 100%;
  display: block;
  resize: none;
}
form input[type="submit"] {
  display: inline-block;
  height: 2em;
  min-width: 50%;
  width: 80%;
  max-width: 100%;
  padding: 0 1em;
  margin: 0 auto;
  margin-top: 1em;
  background-color: #986d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#b6833c));
  background-image: -webkit-linear-gradient(top, #986d32, #b6833c);
  background-image: -moz-linear-gradient(top, #986d32, #b6833c);
  background-image: -ms-linear-gradient(top, #986d32, #b6833c);
  background-image: -o-linear-gradient(top, #986d32, #b6833c);
  background-image: linear-gradient(top, #986d32, #b6833c);
  background: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#b6833c));
  background: -webkit-linear-gradient(top, #986d32, #b6833c);
  background: -moz-linear-gradient(top, #986d32, #b6833c);
  background: -ms-linear-gradient(top, #986d32, #b6833c);
  background: -o-linear-gradient(top, #986d32, #b6833c);
  background: linear-gradient(top, #986d32, #b6833c);
  border: none;
  text-align: center;
  line-height: 2em;
  font-size: 15px;
  color: #FFFFFF;
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
form input[type="submit"]:hover {
  background-color: #986d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background-image: -webkit-linear-gradient(top, #986d32, #986d32);
  background-image: -moz-linear-gradient(top, #986d32, #986d32);
  background-image: -ms-linear-gradient(top, #986d32, #986d32);
  background-image: -o-linear-gradient(top, #986d32, #986d32);
  background-image: linear-gradient(top, #986d32, #986d32);
  background: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background: -webkit-linear-gradient(top, #986d32, #986d32);
  background: -moz-linear-gradient(top, #986d32, #986d32);
  background: -ms-linear-gradient(top, #986d32, #986d32);
  background: -o-linear-gradient(top, #986d32, #986d32);
  background: linear-gradient(top, #986d32, #986d32);
  -webkit-box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.2), 4px -4px 6px rgba(255, 255, 255, 0.2), -4px 4px 6px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.2), 4px -4px 6px rgba(255, 255, 255, 0.2), -4px 4px 6px rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.2), 4px -4px 6px rgba(255, 255, 255, 0.2), -4px 4px 6px rgba(255, 255, 255, 0.2);
  text-shadow: -3px 0 3px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(255, 255, 255, 0.3), 3px 0 3px rgba(255, 255, 255, 0.3), 0 -3px 3px rgba(255, 255, 255, 0.3);
}
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}
.legal {
  display: block;
  position: absolute;
  top: -0.5em;
  right: 1em;
  z-index: 9;
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
.legal li {
  position: relative;
  top: 0;
  display: inline-block;
  text-align: center;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background-image: -webkit-linear-gradient(top, white, #eee);
  background-image: -moz-linear-gradient(top, white, #eee);
  background-image: -ms-linear-gradient(top, white, #eee);
  background-image: -o-linear-gradient(top, white, #eee);
  background-image: linear-gradient(top, white, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background: -webkit-linear-gradient(top, white, #eee);
  background: -moz-linear-gradient(top, white, #eee);
  background: -ms-linear-gradient(top, white, #eee);
  background: -o-linear-gradient(top, white, #eee);
  background: linear-gradient(top, white, #eee);
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
.legal li:hover {
  top: 0.35em;
  background-color: #986d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background-image: -webkit-linear-gradient(top, #986d32, #986d32);
  background-image: -moz-linear-gradient(top, #986d32, #986d32);
  background-image: -ms-linear-gradient(top, #986d32, #986d32);
  background-image: -o-linear-gradient(top, #986d32, #986d32);
  background-image: linear-gradient(top, #986d32, #986d32);
  background: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background: -webkit-linear-gradient(top, #986d32, #986d32);
  background: -moz-linear-gradient(top, #986d32, #986d32);
  background: -ms-linear-gradient(top, #986d32, #986d32);
  background: -o-linear-gradient(top, #986d32, #986d32);
  background: linear-gradient(top, #986d32, #986d32);
}
.legal li a {
  line-height: 2.5em;
  padding: 0 0.5em;
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
.legal li a:link {
  color: #000000;
}
.legal li a:hover {
  color: #FFFFFF;
}
#logo,
.logo {
  position: absolute;
  top: 0.8em;
  left: 0.5em;
  z-index: 9;
  font-size: 45px;
  width: 40%;
  max-width: 215px;
  min-width: 106px;
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
#logo:hover,
.logo:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
header {
  display: block;
  z-index: 9;
  width: 100%;
  min-height: 105px;
  height: auto;
  max-height: 120px;
  padding-bottom: 1em;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background-image: -webkit-linear-gradient(top, white, #eee);
  background-image: -moz-linear-gradient(top, white, #eee);
  background-image: -ms-linear-gradient(top, white, #eee);
  background-image: -o-linear-gradient(top, white, #eee);
  background-image: linear-gradient(top, white, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background: -webkit-linear-gradient(top, white, #eee);
  background: -moz-linear-gradient(top, white, #eee);
  background: -ms-linear-gradient(top, white, #eee);
  background: -o-linear-gradient(top, white, #eee);
  background: linear-gradient(top, white, #eee);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-bottom: #986d32 5px solid;
}
header .inside {
  height: 100%;
}
header.fixed {
  min-height: 60px;
  height: 60px;
}
header.fixed nav#mainnav {
  top: 0.5em;
}
header nav#mainnav {
  position: absolute;
  right: 0;
  top: 2.5em;
  display: block;
  height: 3em;
  width: 100%;
  line-height: 3em;
  font-size: 24px;
  -webkit-transition:  color 0.5s 0s ease;
  -moz-transition:  color 0.5s 0s ease;
  -ms-transition:  color 0.5s 0s ease;
  -o-transition:  color 0.5s 0s ease;
  transition:  color 0.5s 0s ease;
  -webkit-transition:  transform 0.5s 0s ease;
  -moz-transition:  transform 0.5s 0s ease;
  -ms-transition:  transform 0.5s 0s ease;
  -o-transition:  transform 0.5s 0s ease;
  transition:  transform 0.5s 0s ease;
}
header nav#mainnav a {
  display: block;
}
header nav#mainnav ul {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
}
header nav#mainnav ul > li {
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
header nav#mainnav ul > li > a {
  padding: 0 1em;
  display: block;
  z-index: 9;
  color: #000000;
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
header nav#mainnav ul > li > ul.secondrow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  padding: 0;
  margin-top: 0;
  width: 100%;
  z-index: 9;
  height: 0;
  overflow: hidden;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background-image: -webkit-linear-gradient(top, white, #eee);
  background-image: -moz-linear-gradient(top, white, #eee);
  background-image: -ms-linear-gradient(top, white, #eee);
  background-image: -o-linear-gradient(top, white, #eee);
  background-image: linear-gradient(top, white, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background: -webkit-linear-gradient(top, white, #eee);
  background: -moz-linear-gradient(top, white, #eee);
  background: -ms-linear-gradient(top, white, #eee);
  background: -o-linear-gradient(top, white, #eee);
  background: linear-gradient(top, white, #eee);
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  line-height: 1.7rem;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
header nav#mainnav ul > li > ul.secondrow:before {
  content: '';
  display: block;
  position: absolute;
  top: -0.5rem;
  left: 45%;
  z-index: 2;
  width: 1rem;
  height: 1rem;
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
header nav#mainnav ul > li > ul.secondrow > li {
  cursor: pointer;
  display: block;
  z-index: 9;
  line-height: 1.5em;
}
header nav#mainnav ul > li > ul.secondrow > li a {
  padding: 0 0.5em;
  color: #000000;
}
header nav#mainnav ul > li > ul.secondrow > li:hover {
  background-color: #986d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background-image: -webkit-linear-gradient(top, #986d32, #986d32);
  background-image: -moz-linear-gradient(top, #986d32, #986d32);
  background-image: -ms-linear-gradient(top, #986d32, #986d32);
  background-image: -o-linear-gradient(top, #986d32, #986d32);
  background-image: linear-gradient(top, #986d32, #986d32);
  background: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background: -webkit-linear-gradient(top, #986d32, #986d32);
  background: -moz-linear-gradient(top, #986d32, #986d32);
  background: -ms-linear-gradient(top, #986d32, #986d32);
  background: -o-linear-gradient(top, #986d32, #986d32);
  background: linear-gradient(top, #986d32, #986d32);
}
header nav#mainnav ul > li > ul.secondrow > li:hover > a,
header nav#mainnav ul > li > ul.secondrow > li:hover > a:hover {
  color: #FFFFFF;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
header nav#mainnav ul > li:hover > a,
header nav#mainnav ul > li:hover > a:hover {
  color: #986d32;
  text-shadow: -3px 0 3px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(255, 255, 255, 0.3), 3px 0 3px rgba(255, 255, 255, 0.3), 0 -3px 3px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
header nav#mainnav ul > li:hover ul.secondrow {
  top: 3.5em;
  height: auto;
  overflow: visible;
  z-index: 9;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
header nav#mainnav ul > li:hover ul.secondrow li {
  display: block;
}
header nav#mainnav ul > li:hover ul.secondrow:before {
  width: 1rem;
  height: 1rem;
}
header nav#mainnav.fixed {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 2em;
  padding-top: 0.5em;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background-image: -webkit-linear-gradient(top, white, #eee);
  background-image: -moz-linear-gradient(top, white, #eee);
  background-image: -ms-linear-gradient(top, white, #eee);
  background-image: -o-linear-gradient(top, white, #eee);
  background-image: linear-gradient(top, white, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background: -webkit-linear-gradient(top, white, #eee);
  background: -moz-linear-gradient(top, white, #eee);
  background: -ms-linear-gradient(top, white, #eee);
  background: -o-linear-gradient(top, white, #eee);
  background: linear-gradient(top, white, #eee);
  border-bottom: #986d32 5px solid;
  -webkit-transition:  height 0.5s 0s ease, bottom 0.5s 0s ease;
  -moz-transition:  height 0.5s 0s ease, bottom 0.5s 0s ease;
  -ms-transition:  height 0.5s 0s ease, bottom 0.5s 0s ease;
  -o-transition:  height 0.5s 0s ease, bottom 0.5s 0s ease;
  transition:  height 0.5s 0s ease, bottom 0.5s 0s ease;
}
header nav#mainnav.fixed:hover {
  height: 3em;
}
header nav#mainnav.fixed:hover .inside > ul {
  bottom: 0em;
}
header nav#mainnav.fixed .inside > ul {
  bottom: -0.5em;
}
header nav#mainnav .active,
header nav#mainnav .active > a {
  color: #986d32;
  text-shadow: -3px 0 3px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(255, 255, 255, 0.3), 3px 0 3px rgba(255, 255, 255, 0.3), 0 -3px 3px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
#totoparrow {
  top: 0em;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  margin: 0;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background-image: -webkit-linear-gradient(top, white, #eee);
  background-image: -moz-linear-gradient(top, white, #eee);
  background-image: -ms-linear-gradient(top, white, #eee);
  background-image: -o-linear-gradient(top, white, #eee);
  background-image: linear-gradient(top, white, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
  background: -webkit-linear-gradient(top, white, #eee);
  background: -moz-linear-gradient(top, white, #eee);
  background: -ms-linear-gradient(top, white, #eee);
  background: -o-linear-gradient(top, white, #eee);
  background: linear-gradient(top, white, #eee);
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #eee;
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
  line-height: 2em;
}
#totoparrow:hover {
  background-color: #986d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background-image: -webkit-linear-gradient(top, #986d32, #986d32);
  background-image: -moz-linear-gradient(top, #986d32, #986d32);
  background-image: -ms-linear-gradient(top, #986d32, #986d32);
  background-image: -o-linear-gradient(top, #986d32, #986d32);
  background-image: linear-gradient(top, #986d32, #986d32);
  background: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background: -webkit-linear-gradient(top, #986d32, #986d32);
  background: -moz-linear-gradient(top, #986d32, #986d32);
  background: -ms-linear-gradient(top, #986d32, #986d32);
  background: -o-linear-gradient(top, #986d32, #986d32);
  background: linear-gradient(top, #986d32, #986d32);
  color: #FFFFFF;
  text-shadow: -3px 0 3px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(255, 255, 255, 0.3), 3px 0 3px rgba(255, 255, 255, 0.3), 0 -3px 3px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
article {
  margin-top: 15px;
  margin-bottom: 15px;
}
#maincontent {
  margin-bottom: 4em;
}
#maincontent article {
  margin-top: 15px;
  margin-bottom: 15px;
}
#maincontent a.action {
  min-width: 50%;
  width: 90%;
  max-width: 100%;
  display: inline-block;
  padding: 0 1em;
  margin-top: 1em;
  background-color: #986d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#654921));
  background-image: -webkit-linear-gradient(top, #986d32, #654921);
  background-image: -moz-linear-gradient(top, #986d32, #654921);
  background-image: -ms-linear-gradient(top, #986d32, #654921);
  background-image: -o-linear-gradient(top, #986d32, #654921);
  background-image: linear-gradient(top, #986d32, #654921);
  background: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#654921));
  background: -webkit-linear-gradient(top, #986d32, #654921);
  background: -moz-linear-gradient(top, #986d32, #654921);
  background: -ms-linear-gradient(top, #986d32, #654921);
  background: -o-linear-gradient(top, #986d32, #654921);
  background: linear-gradient(top, #986d32, #654921);
  line-height: 2em;
  font-size: 1.5em;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
}
#maincontent a.action:hover {
  -webkit-box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.2), 4px -4px 6px rgba(255, 255, 255, 0.2), -4px 4px 6px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.2), 4px -4px 6px rgba(255, 255, 255, 0.2), -4px 4px 6px rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.2), 4px -4px 6px rgba(255, 255, 255, 0.2), -4px 4px 6px rgba(255, 255, 255, 0.2);
  background-color: #986d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background-image: -webkit-linear-gradient(top, #986d32, #986d32);
  background-image: -moz-linear-gradient(top, #986d32, #986d32);
  background-image: -ms-linear-gradient(top, #986d32, #986d32);
  background-image: -o-linear-gradient(top, #986d32, #986d32);
  background-image: linear-gradient(top, #986d32, #986d32);
  background: -webkit-gradient(linear, left top, left bottom, from(#986d32), to(#986d32));
  background: -webkit-linear-gradient(top, #986d32, #986d32);
  background: -moz-linear-gradient(top, #986d32, #986d32);
  background: -ms-linear-gradient(top, #986d32, #986d32);
  background: -o-linear-gradient(top, #986d32, #986d32);
  background: linear-gradient(top, #986d32, #986d32);
  text-shadow: -3px 0 3px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(255, 255, 255, 0.3), 3px 0 3px rgba(255, 255, 255, 0.3), 0 -3px 3px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
#maincontent .background {
  height: 100%;
  padding: 1em;
  margin-bottom: 1em;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
#maincontent .background span.full {
  height: 100%;
  width: 15%;
  font-size: 3em;
  display: inline-block;
  vertical-align: center;
  color: #3c3c3c;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
#maincontent .background .entry-content {
  width: 80%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
#maincontent .anzeige {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition:  all 0.5s 0s ease;
  -moz-transition:  all 0.5s 0s ease;
  -ms-transition:  all 0.5s 0s ease;
  -o-transition:  all 0.5s 0s ease;
  transition:  all 0.5s 0s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  /*&:after{
        content:'';position:absolute;top:0;left:0;
        display:block;width:100%;height:100%;background:rgba(255,255,255,0.2);
        .inner-box-glow(0.05em,0.5em,rgba(50,151,255,0.2));z-index:-1;
    }*/
}
#maincontent .anzeige img {
  border: 1px #986d32 solid;
}
#maincontent .anzeige:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  /*&:after{z-index:9;}*/
}
#maincontent .anzeige:hover img {
  -webkit-filter: contrast(1.4) saturate(1) brightness(0.98);
}
#maincontent .colums2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-width: 48%;
  -webkit-column-width: 48%;
  column-width: 48%;
  columns: 2 48%;
}
#maincontent .colums2 p {
  margin: 0;
  padding-top: 0em;
  padding-bottom: 1em;
  line-height: 1.2em;
}
#maincontent .catchphrase {
  font-size: 2em;
  line-height: 1.2em;
  font-family: 'Roboto Condensed', 'sans-serif';
}
#maincontent .glyphs p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
#maincontent .glyphs p:hover {
  color: #000000;
}
#maincontent .glyphs p:hover span {
  background: #986d32;
  color: #FFF;
}
#maincontent .glyphs p span {
  color: #000000;
  font-size: 4em;
  display: block;
  line-height: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
}
#maincontent .glyphs p span[data-icon]:before {
  font-style: normal;
  font-size: 1em;
}
footer {
  background: #808080;
  color: #e8e8e8;
  padding: 1em 0;
}
footer a {
  color: #d5d5d5;
}
footer a:link {
  color: #d5d5d5;
}
footer a:hover {
  color: #986d32;
}
footer a:active {
  color: #b6833c;
}
footer a:focus {
  color: #b6833c;
}
footer a:visited {
  color: #aaaaaa;
}
footer section {
  padding-bottom: 1rem;
}
footer .kontaktform {
  width: 31.65%;
  height: 100%;
  padding: 1em;
  position: absolute;
  right: 1.95%;
  top: -1rem;
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#808080));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #808080);
  background-image: -moz-linear-gradient(top, #aaaaaa, #808080);
  background-image: -ms-linear-gradient(top, #aaaaaa, #808080);
  background-image: -o-linear-gradient(top, #aaaaaa, #808080);
  background-image: linear-gradient(top, #aaaaaa, #808080);
  background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#808080));
  background: -webkit-linear-gradient(top, #aaaaaa, #808080);
  background: -moz-linear-gradient(top, #aaaaaa, #808080);
  background: -ms-linear-gradient(top, #aaaaaa, #808080);
  background: -o-linear-gradient(top, #aaaaaa, #808080);
  background: linear-gradient(top, #aaaaaa, #808080);
  color: #e8e8e8;
}
footer .kontaktform h3 {
  color: #FFFFFF;
}
footer .kontaktform b {
  display: block;
}
footer form {
  max-width: 126px;
}
footer * {
  font-size: 0.93em;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .colums2 p {
    padding-top: 0.2em;
  }
  #maincontent .anzeige:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .sliderbg {
    display: none;
  }
  ul.list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-width: 48%;
    -webkit-column-width: 48%;
    column-width: 48%;
    columns: 2 48%;
    list-style: outside disc;
  }
  ul.list li {
    list-style-position: inside;
  }
  .anzeige {
    display: none;
    content: '';
  }
  #maincontent .colums2 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-width: 48%;
    -webkit-column-width: 48%;
    column-width: 48%;
    columns: 1 48%;
  }
  #maincontent article.last .span4 h2 {
    position: static;
    background: none;
    width: 100%;
  }
  #maincontent article.last .span4 figure {
    display: none;
  }
  footer .kontaktform {
    width: 45%;
  }
  #bbv.span2 {
    width: 45%;
    max-width: 150px;
  }
  .copyright {
    margin-bottom: 3em;
  }
  footer .legal {
    top: auto;
    bottom: -2.5em;
  }
}
@media (max-width: 770px) {
  header {
    height: 180px;
    max-height: 180px;
  }
  header nav#mainnav {
    top: 4.5em;
    font-size: 21px;
  }
  header nav#mainnav a {
    display: block;
  }
  header nav#mainnav ul > li {
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition:  all 0.5s 0s ease;
    -moz-transition:  all 0.5s 0s ease;
    -ms-transition:  all 0.5s 0s ease;
    -o-transition:  all 0.5s 0s ease;
    transition:  all 0.5s 0s ease;
  }
  header nav#mainnav ul > li > a {
    padding: 0 4%;
  }
  header nav#mainnav.fixed {
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 955px) {
  .anzeige {
    display: none;
    content: '';
  }
  footer .kontaktform {
    width: 45%;
    max-width: 350px;
  }
  #bbv.span2 {
    width: 45%;
    max-width: 150px;
  }
  header {
    height: 180px;
    max-height: 180px;
  }
  header nav#mainnav {
    top: 4.5em;
  }
}
/*print*/
@media print {
  * {
    position: static;
    overflow: visible;
    height: auto;
    width: auto;
    text-shadow: none!important;
    box-shadow: none!important;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #000000;
  }
  .intern,
  #socialoverlay,
  aside,
  .main-nav-holder,
  .flexslider,
  .kontakt,
  #breadcrumb,
  footer,
  #footer,
  #pre-footer,
  iframe,
  .teilen,
  .moreinfo,
  #picturewrapper,
  .youtube,
  .finalform,
  .prespan,
  #navwrap,
  #navwrapfahr,
  figure.bottommargin {
    display: none!important;
  }
  .logo {
    margin-top: 3.5em;
    width: 118px;
  }
  * {
    background: none !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: Gray();
    /* IE4-8: depreciated */
    filter: url('desaturate.svg#grayscale');
    /* SVG version for IE10, Firefox, Safari 5 and Opera */
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  a {
    text-decoration: underline;
  }
  #mainleft a[href]:after {
    content: " (Linkadresse: " attr(href) ")";
  }
  a[href="#"],
  a[href="javascript:"] {
    content: "";
  }
}
