<section id="maincontent" class="body inside">
    <article class="col-lg-12">
        <div class="catchphrase">
            Das Einrichten des PM-Iconset´s ist extrem einfach. Nur eine Zeile auf der Website und schon ist es nutzbar!
        </div>
    </article>
    <article class="col-lg-12">
        <div class="background">
            <h2>Basis: Basis-Installation</h2>
            <p>Das PM-Iconset kann einfach mit nur einer Zeile HTML auf der Webseite installiert werden. Man braucht nicht mal etwas herunterzuladen oder zu installieren!</p>
            <ol class="list">
                <li>
                    Fügen den folgenden Code in den <head>-Bereich der Webseite ein.
                    <code><xmp><link href="//www.webiconfont.com/latest/css/pm-iconset.min.css" rel="stylesheet"></xmp></code>
                </li>
                <li>
                    Klopfe dir selbst auf die Schulter für frei-scalierbare-Vektor-Icons-auf-der-eigenen-Webseite mit nur einer Zeile Code.
                </li>
                <li>
                    Schauen Dir die <a href="#/examples">Beispiele</a> an und starte mit dem PM-Iconset!
                </li>
            </ol>

            <h2>Erweitert: selbst Hosten</h2>
            <p>Benutze diese Methode um das PM-Iconset selbst per CSS zu bearbeiten.</p>
            <ol class="list">
                <li>
                    Kopiere das PM-Iconset-Verzeichnis in den Webprojekt.
                </li>
                <li>
                    Im <head>-Bereich deines HTML-Textes binde das pm-iconset.min.css ein.
                    <code><xmp><link rel="stylesheet" href="path/to/pm-iconset/css/pm-iconset.min.css"></xmp></code>
                </li>
                <li>
                    Schauen Dir die <a href="#/examples">Beispiele</a> an und starte mit dem PM-Iconset!
                </li>
            </ol>
        </div>
    </article>
</section>