<section id="maincontent" class="body inside index">
    <article class="col-lg-12">
        <div class="catchphrase">
            PM-Iconset stellt frei skalierbare Vektor-Icons zur Verfügung, die vollständig angepasst werden können - Größe, Farbe, Schatten und vieles mehr... alles was mit CSS beeinflusst werden kann.
        </div>
    </article>
    <ul ng-controller="CardsController">
        <li ng-repeat="card in listOfCards" class="col-sm-6 col-md-4 col-lg-4 background">
            <span class="full" data-icon="{{card.icon}}"></span>
            <div class="entry-content">
                <h2 class="entry-title"></span>{{card.title}}</h2>
                <p>{{card.text}}</p>
            </div>
        </li>
    </ul>
</section>