<section id="maincontent" class="body inside index">
    <article class="col-lg-12">
        <div class="catchphrase">
            PM-Iconset stellt frei skalierbare Vektor-Icons zur Verfügung, die vollständig angepasst werden können - Größe, Farbe, Schatten und vieles mehr... alles was mit CSS beeinflusst werden kann.
        </div>
    </article>
    <ul>
        <li class="col-sm-6 col-md-4 col-lg-4 background" data-pm-equalheight>
            <span class="full" data-icon="workcross"></span>
            <div class="entry-content">
                <h2 class="entry-title"></span>Ein Font, 200+ Icons</h2>
                <p>
                    Das PM-Iconset bietet mehr als 200 Pictogrammen in einer einzigen Font-Sammlung.
                </p>
            </div>
        </li>
        <li class="col-sm-6 col-md-4 col-lg-4 background" data-pm-equalheight>
            <span class="full" data-icon="css3"></span>
            <div class="entry-content">
                <h2 class="entry-title">Volle Kontrolle mit CSS</h2>
                <p>
                    Egal ob Farbe, Größe, Schatten oder sogar Animation: Die volle Kontrolle dank CSS.
                </p>
            </div>
        </li>
        <li class="col-sm-6 col-md-4 col-lg-4 background" data-pm-equalheight>
            <span class="full" data-icon="arrows-zoomout"></span>
            <div class="entry-content">
                <h2 class="entry-title">Unendliche Skalierbarkeit</h2>
                <p>
                    Das PM-Iconset besteht aus Vektorgrafiken. Das bedeutet, das die Icons immer gestochen scharf sind, egal in welcher Größe.
                </p>
            </div>
        </li>
        <li class="col-sm-6 col-md-4 col-lg-4 background" data-pm-equalheight>
            <span class="full" data-icon="cc"></span>
            <div class="entry-content">
                <h2 class="entry-title">Frei Nutzung</h2>
                <p>
                    PM-Iconset ist frei nutzbar für auch kommerzielle Zwecke, ausser der direkte Weiterverkauf.
                </p>
            </div>
        </li>
        <li class="col-sm-6 col-md-4 col-lg-4 background" data-pm-equalheight>
            <span class="full" data-icon="desktop"></span>
            <div class="entry-content">
                <h2 class="entry-title">Desktopfreundlich</h2>
                <p>
                    Um das PM-Iconset auf dem Desktop zu verwenden, einfach die Referenzliste für Sonderzeichen nutzen.
                </p>
            </div>
            </article>
        </li>
        <li class="col-sm-6 col-md-4 col-lg-4 background" data-pm-equalheight>
            <span class="full" data-icon="search"></span>
            <div class="entry-content">
                <h2 class="entry-title">Screen-Reader-kompatibel</h2>
                <p>
                    Das PM-Iconset ist, entgegen anderer Iconsets, barrierefrei konzipiert. Ein Leseprogramm wird daher keinen Buchstabensalat ausgeben.
                </p>
            </div>
        </li>
    </ul>
</section>